{% extends "base.html" %}
{% block content %}

<article id="coc">
        
  
    <h3>PyCon Gujarat Code of Conduct</h3>
<h4>1. Purpose</h4>
<p>PyCon Gujarat believes our community should be truly open for everyone. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, disability, ethnicity, or religion.</p>
<p>This code of conduct outlines our expectations for participant behavior as well as the consequences for unacceptable behavior.</p>
<p>We invite all sponsors, volunteers, speakers, attendees, media, exhibitors and other participants to help us realize a safe and positive conference experience for everyone.</p>
<h4>2. Expected Behavior</h4>
<ul>
<li>Be considerate, respectful, and collaborative.</li>
<li>Refrain from demeaning, discriminatory or harassing behavior and speech.</li>
<li>Be mindful of your surroundings and of your fellow participants. Alert conference organizers if you notice a dangerous situation or someone in distress.</li>
</ul>
<h4>3. Unacceptable Behavior</h4>
<p>Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory, derogatory or demeaning conduct by any attendees of PyCon Gujarat and related events. Many PyCon Gujarat venues are shared with members of the public; please be respectful to all patrons of these locations.</p>
<p>Harassment includes: offensive verbal comments related to gender, sexual orientation, race, religion, disability; inappropriate use of nudity and/or sexual images in public spaces (including presentation slides); deliberate intimidation, stalking or following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact, and unwelcome sexual attention.</p>
<h4>4. Consequences of Unacceptable Behavior</h4>
<p>Unacceptable behavior will not be tolerated whether by other attendees, media, speakers, volunteers, organizers, venue staff, sponsors, or exhibitors.</p>
<p>Anyone asked to stop unacceptable behavior is expected to comply immediately.</p>
<p>If a participant engages in unacceptable behavior, the conference organizers may take any action they deem appropriate, up to and including expulsion from the conference without warning or refund.</p>
<h4>5. What to Do If You Witness or Are Subject to Unacceptable Behavior</h4>
<p>If you are subject to unacceptable behavior, notice that someone else is being subject to unacceptable behavior, or have any other concerns, please notify a conference organizer. All reports will remain completely confidential. </p>
<p>The PyCon Gujarat team will be available to help participants contact venue security or local law enforcement, to provide escorts, or to otherwise assist those experiencing unacceptable behavior to feel safe for the duration of the conference. You can report unacceptable behavior to any member of staff. Staff can be found at the registration desk or you may email/call one of the contacts below.</p>
<h4>6. Scope</h4>
<p>We expect all conference participants (sponsors, volunteers, speakers, attendees, and other guests) to abide by this code of conduct at all conference venues and conference-related social events.</p>
<h4>7. Contact Information</h4>
<ul>
<li>Email: </li>
<li>Phone: +91 9898855075</li>
</ul>
<h4>8. License and Attribution</h4>
<p>The original is available at <a href="http://opensourcebridge.org/about/code-of-conduct/">http://opensourcebridge.org/about/code-of-conduct/</a> and is released under a Creative Commons Attribution-ShareAlike license.</p>
  

      </article>


    
       
{% endblock %}