{% extends "base.html" %}


{% block content %}
	

	<div class="node-content">
        <div class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-full"><div class="field-items"><div class="field-item even" property="content:encoded"><h2>Dhirubhai Ambani Institute of Information and Communication Technology, India</h2>
		<p>DA-IICT is Located in the peaceful city of Gandhinagar, the capital city of Vibrant Gujarat, which is on its way to becoming an IT hub. While at a distance of just 17 kms from the international airport and with an efficient public transport system in the city, the beautifully lush and green campus of DA-IICT serves as the perfect environment to host such events. With incessant Wi-Fi access throughout the campus and fully equipped computer laboratories, the event can go on uninterrupted with adequate provision of all the necessary equipments.</p>
		<p>DA-IICT Dhirubhai Ambani Institute of Information and Communication Technology,</p>
		<p>Near Indroda Circle Gandhinagar 382007</p>
		<p>Gujarat, India</p>
		<p style="text-align:center">
		<iframe marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?q=DA-IICT+google+maps&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;ll=23.188464,72.628422&amp;spn=0.006295,0.006295&amp;output=embed" frameborder="0" height="350" scrolling="no" width="425"></iframe></p><p><br /><small><a href="https://maps.google.co.in/maps?q=DA-IICT+google+maps&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;ll=23.188464,72.628422&amp;spn=0.006295,0.006295&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
		<h3>From Ahmedabad Airport</h3>
		<p>Ahmedabad airport has a good taxi service where cabs can be hired to take you to DAIICT.</p>
		<h3>From Ahmedabad Railway Station</h3>
		<p>Government buses between Ahmedabad and Gandhinagar, run on a regular basis.The stop at Gandhinagar where you need to disembark is Gh-0 or Ch-0, both of which are less than 1 Km from the DAIICT campus. From here, autos can be easily hired to the campus. Taxi is another option, Taxi Stand is located just in front of Railway Station. The taxi services consist of mostly Ambassador Cabs and taxis can be hired for a one-way trip to DAIICT for about Rs. 200.</p>
		<h3>From Gandhinagar Bus Terminal</h3>
		<p>You can take a government bus from any city in Gujarat to Gandhinagar, which would take you to Pathikashram Bus station. An auto-rickshaw would charge you about Rs. 50 to get you to DA-IICT from the bus station.</p>
		</div></div></div>    </div>

    





{% endblock %}
